PBMS_CELERY_WORKERS_DB_DBNAME=pbmsdb
PBMS_CELERY_WORKERS_DB_USERNAME=pbmsuser
PBMS_CELERY_WORKERS_DB_HOSTNAME='localhost'
PBMS_CELERY_WORKERS_DB_PORT=5432
PBMS_CELERY_WORKERS_CELERY_BROKER_URL=redis://{{ .Release.Name }}-redis-master:6379/0
PBMS_CELERY_WORKERS_CELERY_BACKEND_URL=redis://{{ .Release.Name }}-redis-master:6379/0
PBMS_CELERY_WORKERS_EXAMPLE_WORKER_TASK_ATTEMPTS=3
